.search {

}

.search__input {
	float: left;
	clear: both;
	padding: 8px 12px;
	width: 100%;
	height: 45px;
	border: 2px solid #BDC3C7;
	border-radius: 6px;
	color: $c-grey;
	font-size: 15px;
	font-family: $ff-ubuntu;
	line-height: 1.467;
	transition: border .25s linear,color .25s linear,background-color .25s linear;
	margin-bottom: 10px;
	&:focus {
		border-color: rgb(41, 129, 186);
	}
}

.search__submit {
	display: block;
	position: relative;
	top: 10px;
	margin: 15px auto;
	padding: 10px 19px;
	width: 130px;
	outline: none;
	border: none;
	border-radius: 6px;
	background-color: $c-grey;
	color: #FFF;
	font-size: 17px;
	line-height: 1.471;
	cursor: pointer;
	transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	user-select: none;
	&:hover {
		border-color: #415B76;
		background-color: #415B76;
		color: #FFF;
	}
}